In [22]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [23]:
df=pd.read_csv('../train.csv')

In [24]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
df=df.drop(columns=['PassengerId','Ticket','Name','Cabin'])

In [26]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [27]:
X_train,X_test,Y_train,Y_test=train_test_split(df.drop(columns=['Survived'],axis=1),df['Survived'],test_size=0.2,random_state=0)

In [28]:
print(X_train.head(2))
print(X_test.head(2))
print(X_test['Embarked'].value_counts())
print(X_train['Embarked'].value_counts())

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
140       3  female   NaN      0      2  15.2458        C
439       2    male  31.0      0      0  10.5000        S
     Pclass   Sex  Age  SibSp  Parch     Fare Embarked
495       3  male  NaN      0      0  14.4583        C
648       3  male  NaN      0      0   7.5500        S
Embarked
S    127
C     39
Q     13
Name: count, dtype: int64
Embarked
S    517
C    129
Q     64
Name: count, dtype: int64

In [29]:
Y_train.head()

140    0
439    0
817    0
378    0
491    0
Name: Survived, dtype: int64

In [30]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [31]:
#Applying Imputaion

si_age=SimpleImputer()
si_embarked=SimpleImputer(strategy='most_frequent')

X_train_age=si_age.fit_transform(X_train[['Age']])
X_test_age=si_age.fit_transform(X_test[['Age']])

X_train_embarked=si_embarked.fit_transform(X_train[['Embarked']])
X_test_embarked=si_embarked.fit_transform(X_test[['Embarked']])

X_train_embarked=pd.DataFrame(X_train_embarked)
X_test_embarked=pd.DataFrame(X_test_embarked)

X_train_embarked.isnull().sum()

0    0
dtype: int64

In [32]:
# one Hot encoding on sex and Embarked
ohe_sex=OneHotEncoder(sparse_output=False, drop='first')
ohe_embarked=OneHotEncoder(sparse_output=False, drop='first')

X_train_sex=ohe_sex.fit_transform(X_train[['Sex']])
X_test_sex=ohe_sex.fit_transform(X_test[['Sex']])

X_train_embarked=ohe_embarked.fit_transform(X_train_embarked)
X_test_embarked=ohe_embarked.fit_transform(X_test_embarked)

In [33]:
X_train_sex=pd.DataFrame(X_train_sex)
X_test_sex=pd.DataFrame(X_test_sex)
#X_train_sex.column=['sex']
X_train_embarked=pd.DataFrame(X_train_embarked)
X_test_embarked=pd.DataFrame(X_test_embarked)


print("X_train_Sex\n",X_train_sex.sample(5))
print("X_test_Sex\n",X_test_sex.sample(5))


print("X_train_Embarked\n",X_train_embarked.sample(5))
print("X_test_Embarked\n",X_test_embarked.sample(5))

X_train_Sex
        0
551  1.0
638  0.0
417  1.0
162  1.0
693  1.0
X_test_Sex
        0
88   0.0
166  1.0
118  1.0
128  1.0
98   1.0
X_train_Embarked
        0    1
380  0.0  0.0
287  0.0  1.0
453  0.0  1.0
84   0.0  1.0
262  0.0  1.0
X_test_Embarked
        0    1
141  1.0  0.0
147  0.0  1.0
64   0.0  1.0
103  0.0  1.0
102  0.0  1.0

In [34]:
X_test.head()

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
495       3    male   NaN      0      0   14.4583        C
648       3    male   NaN      0      0    7.5500        S
278       3    male   7.0      4      1   29.1250        Q
31        1  female   NaN      1      0  146.5208        C
255       3  female  29.0      0      2   15.2458        C

In [35]:
X_train_rem=X_train.drop(columns=['Sex','Age','Embarked'])
X_test_rem=X_test.drop(columns=['Sex','Age','Embarked'])

In [36]:
X_test

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
495       3    male   NaN      0      0   14.4583        C
648       3    male   NaN      0      0    7.5500        S
278       3    male   7.0      4      1   29.1250        Q
31        1  female   NaN      1      0  146.5208        C
255       3  female  29.0      0      2   15.2458        C
..      ...     ...   ...    ...    ...       ...      ...
780       3  female  13.0      0      0    7.2292        C
837       3    male   NaN      0      0    8.0500        S
215       1  female  31.0      1      0  113.2750        C
833       3    male  23.0      0      0    7.8542        S
372       3    male  19.0      0      0    8.0500        S

[179 rows x 7 columns]

In [42]:
X_train_transformed = np.concatenate((X_train_rem,X_train_age,X_train_embarked,X_train_sex), axis=1)
X_train_transformed = pd.DataFrame(X_train_transformed)

X_test_transformed = np.concatenate((X_test_rem,X_test_age,X_test_embarked,X_test_sex), axis=1)
X_test_transformed = pd.DataFrame(X_test_transformed)

In [43]:
X_train_transformed.sample(5)

       0    1    2      3          4    5    6    7
26   2.0  1.0  0.0  24.00  30.000000  0.0  0.0  1.0
539  3.0  0.0  0.0   7.75  29.745184  1.0  0.0  1.0
206  3.0  0.0  0.0   8.05  29.000000  0.0  1.0  1.0
213  3.0  1.0  1.0  15.50  32.000000  1.0  0.0  0.0
5    1.0  0.0  0.0  28.50  45.500000  0.0  1.0  1.0

In [45]:
clf = DecisionTreeClassifier()
clf.fit(X_train_transformed,Y_train)

DecisionTreeClassifier()

In [46]:
y_pred = clf.predict(X_test_transformed)
y_pred

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1], dtype=int64)

In [47]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,y_pred)

0.770949720670391

In [49]:
import pickle
pickle.dump(ohe_sex,open('models/ohe_sex.pkl','wb'))
pickle.dump(ohe_embarked,open('models/ohe_embarked.pkl','wb'))
pickle.dump(clf,open('models/clf.pkl','wb'))